{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>GPW_Analizer_Menu</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="{% static 'Tables/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'Tables/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'Tables/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


    <style>

        .divwarn {
            background-color: lightblue; /* Green background with 30% opacity */
        }


    </style>


</head>
<body class="u-body" style="background-image: url({% static 'Obrazy/Str_2.jpg' %});">


<div class="container" >
    <!-- Content here -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Strona główna</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/main">Strona 1</a>
        <a class="nav-link" href="https://wcy.wat.edu.pl/">Kontakt</a>
        <a class="nav-link" href="https://www.gpw.pl/">GPW</a>

      </div>
    </div>
  </div>
</nav>

























    <div class="container overflow-hidden" style="background-color: rgb(2,23,48,0.75)">
        <div class="row gy-5">
            <div class="col-6">
                <br>
                <br>


                <div class="card">
                          <div class="card-body" style="background-color: rgb(2,23,48);color: #cbd3e9;border-style: solid;border-color: #cbd3e9">
            <h3 style="text-align:center; ">Analiza pojedynczej spółki </h3>

        </div>
                </div>
                <form action="odp">
                      <br>
                    <div class="d-grid gap-2">
                        <input class="form-control form-control-lg" type="text" placeholder="Wpisz nazwę spółki"
                               aria-label=".form-control-lg example" name="spółka_do_analizy"
                               style="background-color: rgba(0, 255, 0, 0.3);color: #cbd3e9">
                        <button class="btn btn-primary" type="submit">Aktywuj</button>

                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </form>


            </div>


            <div class="col-6">
                <br>
                <br>

                {% if flaga == False %}
                    <div class="container">
                        <div class="alert alert-danger" role="alert">
                            Prosze ponownie wprowadzic dane spółki !
                        </div>
                    </div>

                {% endif %}
            <div class="card-body" style="background-color: rgb(2,23,48);color: #cbd3e9;border-style: solid;border-color: #cbd3e9">
            <h3 style="text-align:center; ">Ulubione spółki </h3>
        </div>
<table class="table">
  <thead>
    <tr>

      <th scope="col">Symbol</th>
      <th scope="col">Nazwa</th>

    </tr>
  </thead>
  <tbody>
            {% for i in top %}

                        <tr>
                            <td style="background-color: rgba(255, 0, 0, 0.3);">{{ i.popular_skrot }}</td>
                            <td style="background-color: rgba(0, 255, 0, 0.3);">{{ i.popular_name }}</td>

                            {#                            <td style="background-color: rgba(255, 0, 0, 0.3);">{{ i.Symbol }}</td>#}
                            {#                            <td style="background-color: rgba(0, 255, 0, 0.3);">{{ i.Nazwa }}</td>#}


                        </tr>


                    {% endfor %}
  </tbody>
</table>

            </div>

        </div>
    </div>

<br>


<div style="background-color: rgb(2,23,48,0.75);">

        <div class="card-body" style="background-color: rgb(2,23,48);color: #cbd3e9;border-style: solid;border-color: #cbd3e9">
            <h3 style="text-align:center; ">Porównanie spółek </h3>
        </div>
        <br>


    <form action="odp2">
        <div class="container">
            <div class="container" style=" float: left;width: 50%">

                <input class="form-control form-control-lg" type="text" placeholder="Wpisz nazwę pierwszej spółki"
                       aria-label=".form-control-lg example" name="spółka_do_analizy_ver1"
                       style="background-color: rgba(0, 255, 0, 0.3);color: #cbd3e9" ;>

            </div>

            <div class="container" style=" float: left;width: 50%">


                <input class="form-control form-control-lg" type="text" placeholder="Wpisz nazwę drugiej  spółki"
                       aria-label=".form-control-lg example" name="spółka_do_analizy_ver2"
                       style="background-color: rgba(0, 255, 0, 0.3);color: #cbd3e9" >

            </div>
            <br>
            <br>
            <br>
            <button class="btn btn-primary" style="width: 100%" type="submit">Aktywuj</button>
        </div>
    </form>
     <br>
    <br>
</div>

    <br>
    <br>
    <br>


    <button type="button" class="btn btn-success">Odświeżanie</button>


    <div class="card shadow mb-4" >
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista wszystkich spółek z GPW</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Nazwa</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Symbol</th>
                        <th>Nazwa</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {#                    {% for i in data %}#}
                    {% for i in data %}

                        <tr>
                            <td style="background-color: rgba(255, 0, 0, 0.3);">{{ i.spolka_data_skrot }}</td>
                            <td style="background-color: rgba(0, 255, 0, 0.3);">{{ i.spolka_data_name }}</td>

                            {#                            <td style="background-color: rgba(255, 0, 0, 0.3);">{{ i.Symbol }}</td>#}
                            {#                            <td style="background-color: rgba(0, 255, 0, 0.3);">{{ i.Nazwa }}</td>#}


                        </tr>


                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</div>
</section>
<div class="container">
    <footer style="background: rgb(2,23,48,0.75);">
        <p style="text-align: center; color: #fafafa;font-family: Oswald">Aplikacja do analizy Giełdy<br>Wykonanie:
            Kamil Dawidowski<br>Kontakt: kuba27@poczta.onet.eu
        </p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


<!-- Bootstrap core JavaScript-->
<script src="{% static 'Tables/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Tables/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'Tables/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'Tables/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'Tables/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'Tables/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'Tables/js/demo/datatables-demo.js' %}"></script>


</body>
</html>