<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>


    {#    Botsrtap#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body >

<div>



<div class="container">
    <div class="card mb-3">
        <img src="{% static 'Obrazy/gpw_logo.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ nazwa_1 }} VS {{ nazwa_2 }}</h5>

            <p class="card-text">Do analizy poddana jest spóła : {{ nazwa_1 }} oraz {{ nazwa_2 }} </p>


        </div>
    </div>


</div>

<div class="container">
<div class="d-grid gap-2">

 <a class="btn btn-primary" href="/main/" role="button" style="width: 100%">Powrót do menu</a>
   <br>
</div>
</div>


<div class="container">


    <div class="card">
        <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
            <h3 style="text-align:center; ">Kurs otwarcia </h3>
        </div>
    </div>
    <div>

        <div style="float: left;width: 50%">
            <canvas id="myChart">

            </canvas>
        </div>
        <div style="float: left;width: 50%">
            <canvas id="myChart2">

            </canvas>
        </div>

    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container">


        <div class="card">
            <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                <h3 style="text-align:center; ">Wykresy najwyższej ceny</h3>
            </div>
        </div>
        <div>


            <div style="float: left;width: 50%">
                <canvas id="myChart3">

                </canvas>
            </div>

            <div style="float: left;width: 50%">
                <canvas id="myChart4">

                </canvas>
            </div>


        </div>



            <div class="card" style="background: #87f2ec">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Analiza </h3>

                </div>
            </div>

            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Spółka {{ nazwa_1 }}</h3>

                </div>
            </div>

            <div class="card-group">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Średnia akcji</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Średnia arytmetyczna zbioru to suma wszystkich jego
                            elementów podzielona przez ich ilość. Określa średnią wartość elementów danego zbioru. </h6>


                        <p class="card-text">Średnia dla spółki:{{ nazwa_1 }}<br>
                        <h6> Wartość średniej dla akcji spółki : {{ Mx1 }}<br>
                            {#                            Wartość średniej dla czasu : {{ My1 }}#}
                        </h6>

                        </p>

                    </div>
                </div>


                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Odchylenia standardowego z próby</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Odchylenie standardowe to jedna z miar zmienności
                            zbioru. Służy ono do estymowania o ile średnio elementy zbioru różnią się od średniej tego
                            zbioru.</h6>
                        <p class="card-text">Odchylenie standardowe dla :{{ nazwa }}<br>
                        <h6> Odchylenie standardowe dla akcji : {{ Sx1 }}<br>
                            {#                            Odchylenie standardowe dla czasu : {{ Sy1 }}#}
                        </h6></p>


                    </div>
                </div>


            </div>


            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Spółka {{ nazwa_2 }}</h3>

                </div>
            </div>

            <div class="card-group">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Średnia akcji</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Średnia arytmetyczna zbioru to suma wszystkich jego
                            elementów podzielona przez ich ilość. Określa średnią wartość elementów danego zbioru. </h6>


                        <p class="card-text">Średnia dla spółki:{{ nazwa_2 }}<br>
                        <h6> Wartość średniej dla akcji spółki : {{ Mx2 }}<br>
                            {#                            Wartość średniej dla czasu : {{ My2 }}#}
                        </h6>

                        </p>

                    </div>
                </div>


                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Odchylenia standardowego z próby</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Odchylenie standardowe to jedna z miar zmienności
                            zbioru. Służy ono do estymowania o ile średnio elementy zbioru różnią się od średniej tego
                            zbioru.</h6>
                        <p class="card-text">Odchylenie standardowe dla :{{ nazwa }}<br><h6>
                        Odchylenie standardowe dla akcji : {{ Sx2 }}<br>
                        {#                        Odchylenie standardowe dla czasu : {{ Sy2 }}#}
                    </h6></p>


                    </div>
                </div>


            </div>
            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Zobrazowanie odchylenia standardowego cen akcji</h3>

                </div>
            </div>

            <div id="canvas-holder" style="width:100%">
                <canvas id="bar-chart"></canvas>
            </div>


            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Poszczególne okresy, gdzie sesja kończyła się wzrostem wrtości akcji
                        spółki</h3>

                </div>
            </div>


            <div class="card mb-3">
                {#                <img src="{% static 'Obrazy/tlo.png' %}" class="card-img-top" alt="...">#}
                <canvas id="myChartxd">

                </canvas>
                <div class="card-body">
                    <h5 class="card-title">{{ nazwa_1 }}</h5>
                    <p class="card-text">Wykres obrazuje ile sesji kończyło się odatnio na giełdzie</p>

                </div>
            </div>


            <div class="card mb-3">
                {#                <img src="{% static 'Obrazy/tlo.png' %}" class="card-img-top" alt="...">#}
                <canvas id="myChartxd2">

                </canvas>
                <div class="card-body">
                    <h5 class="card-title">{{ nazwa_2 }}</h5>
                    <p class="card-text">Wykres obrazuje ile sesji kończyło się dodatnio na giełdzie</p>

                </div>
            </div>

            <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
  <canvas id="bar-chart-grouped2" width="800" height="450"></canvas>
            <div class="form-group">
                <label for="sel1">Select list:</label>
                <select class="form-control" id="sel1">

                    <option name="lata1">2018-2020</option>
                    <option name="lata2">2016-2028</option>
                    <option name="lata3">2014-2016</option>
                    <option name="lata4">2012-2014</option>

                </select>
            </div>

            <div class="card">
                <div class="card-body" style="background-color: rgba(255, 0, 0, 0.3);">
                    <h3 style="text-align:center; ">Najwyższe kursy spólek aktualnie </h3>

                </div>
            </div>
            <div>
                <canvas id="myChartakt1">

                </canvas>
            </div>
    <br>
    <br>
 <a class="btn btn-primary" href="/main/" role="button" style="width: 100%">Powrót do menu</a>
    <br>
    <br>
            <script>

                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [{% for item in dane_1 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs otwarcia dla {{ nazwa_1 }}',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [{% for item in dane_1 %}{{ item.spolka_otwarcie }}, {% endfor %}]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });


            </script>
            <script>

                var ctx = document.getElementById('myChart2').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [{% for item in dane_2 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs otwarcia dla {{ nazwa_2 }} ',
                            backgroundColor: 'rgb(29,9,208)',
                            borderColor: 'rgb(29,9,208)',
                            data: [{% for item in dane_2 %}{{ item.spolka_zamkniecie }}, {% endfor %}]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });


            </script>
            <script>

                var ctx = document.getElementById('myChart3').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [{% for item in dane_1 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs Najwyzszy dla {{ nazwa_1 }} ',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [{% for item in dane_1 %}{{ item.spolka_najwyzszy }}, {% endfor %}]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });


            </script>
            <script>

                var ctx = document.getElementById('myChart4').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [{% for item in dane_2 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs Najwyzszy dla {{ nazwa_2 }} ',
                            backgroundColor: 'rgb(29,9,208)',
                            borderColor: 'rgb(29,9,208)',
                            data: [{% for item in dane_2 %}{{ item.spolka_najwyzszy }}, {% endfor %}]
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });


            </script>


            <script>
                var ctx = document.getElementById('myChart5').getContext('2d');
                var myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options
                });
                data = {
                    datasets: [{
                        data: [10, 20, 30]
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Red',
                        'Yellow',
                        'Blue'
                    ]
                };
            </script>

            <script>
                var ctx = document.getElementById('myChartxd').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for item in dane_1 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs   ',

                            backgroundColor: [
                                {% for item in dane_1 %} getRandomColor2({{item.spolka_otwarcie}}, {{item.spolka_zamkniecie}}),{% endfor %}],

                            data: [{% for item in dane_1 %}{{ item.spolka_zamkniecie }}, {% endfor %}]
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                function getRandomColor() {
                    var letters = '0123456789ABCDEF'.split('');
                    var color = '#';
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }

                function getRandomColor2(itemO, itemZ) {
                    var czerwony = 'rgb(221,8,69)'
                    var zielony = 'rgb(28,119,21)'
                    if (itemO - itemZ > 0)
                        return czerwony
                    else
                        return zielony


                }
            </script>
            <script>
                var ctx = document.getElementById('myChartxd2').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for item in dane_2 %}'{{ item.spolka_data.year }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs  ',

                            backgroundColor: [
                                {% for item in dane_2 %} getRandomColor2({{item.spolka_otwarcie}}, {{item.spolka_zamkniecie}}),{% endfor %}],

                            data: [{% for item in dane_2 %}{{ item.spolka_zamkniecie }}, {% endfor %}]
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                function getRandomColor() {
                    var letters = '0123456789ABCDEF'.split('');
                    var color = '#';
                    for (var i = 0; i < 6; i++) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }

                function getRandomColor2(itemO, itemZ) {
                    var czerwony = 'rgb(221,8,69)'
                    var zielony = 'rgb(28,119,21)'
                    if (itemO - itemZ > 0)
                        return czerwony
                    else
                        return zielony


                }
            </script>
            <script>
                new Chart(document.getElementById("bar-chart"), {
                    type: 'bar',
                    data: {
                        labels: ["{{nazwa_1}}", "{{nazwa_2}}"],
                        datasets: [
                            {

                                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                                data: [{{Sx1}}, {{Sx2}}]
                            }
                        ]
                    },
                    options: {
                        legend: {display: false},
                        title: {
                            display: true,
                            text: 'Zobrazowanie Odchylenia standardowego cen akcji'
                        }
                    }
                });
            </script>
            <script>
                new Chart(document.getElementById("bar-chart-grouped"), {
                    type: 'bar',
                    data: {
                        labels: ["2020","2019","2018"],
                        datasets: [
                            {
                                label: "{{nazwa_1}}",
                                backgroundColor: "#278a0b",
                                data: [{{ww}},{{zm}},{{zm8}}]
                            }, {
                                label: "{{nazwa_2}}",
                                backgroundColor: "#9013c4",
                                data: [{{ww2}},{{zm2}},{{zm28}}]
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Wzrost  cen akcji dla 3 najblizszych lat'
                        }
                    }
                });
            </script>


            <script>

                var ctx = document.getElementById('myChartakt1').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [{% for item in dane_akt_1 %}'{{ item.spolka_data.month }}',{% endfor %}],
                        datasets: [{
                            label: 'Kurs Najwyzszy dla {{ nazwa_1 }} ',

                            borderColor: 'rgb(29,9,208)',
                            data: [{% for item in dane_akt_1 %}{{ item.spolka_najwyzszy }}, {% endfor %}]
                        },
                            {
                                label: 'Kurs Najwyzszy dla {{ nazwa_1 }} ',

                                borderColor: 'rgb(102,208,9)',
                                data: [{% for item in dane_akt_2 %}{{ item.spolka_najwyzszy }}, {% endfor %}]
                            }
                        ]
                    },

                    // Configuration options go here
                    options: {}
                });


            </script>
  <script>
                new Chart(document.getElementById("bar-chart-grouped2"), {
                    type: 'bar',
                    data: {
                        labels: ["2020","2019","2018","2017","2016","2015","2014","2013","2012","2011"],
                        datasets: [
                            {
                                label: "{{nazwa_1}}",
                                backgroundColor: "#278a0b",
                                {#data: [{{n1}},{{n2}},{{n3}}]#}
                               data: [{% for item in lis1 %}{{ item }},{% endfor %}]
                            },
                             {
                                label: "{{nazwa_2}}",
                                backgroundColor: "#991b66",
                                {#data: [{{n1}},{{n2}},{{n3}}]#}
                               data: [{% for item in lis2 %}{{ item }},{% endfor %}]
                            },
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Wzrost  cen akcji dla 10 lat'
                        }
                    }
                });
            </script>



</html>