.u-section-1 {
  background-image: url("images/57e8d34b4c54ab14f6da8c7dda793678153bdee757596c48732f73d3924cc359b1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-group-1 {
  width: 453px;
  min-height: 643px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.125rem;
  margin: 152px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 43px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 65px auto 0;
  padding: 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 85.86% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-group-1 {
    min-height: 545px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 21px;
    margin-right: 21px;
  }
}